.editorconfig
.htaccess
.htaccess.sample
.idea/*
.php-cs-fixer.dist.php
.user.ini
.vscode/*
CHANGELOG.md
COPYING.txt
Gruntfile.js
Gruntfile.js.sample
LICENSE.txt
LICENSE_AFL.txt
SECURITY.md
auth.json.sample
bin/*
composer.json
composer.lock
dev/*
generated/*
grunt-config.json
grunt-config.json.sample
lib/*
n98-magerun2.phar.sha256
nginx.conf
nginx.conf.sample
package-lock.json
package.json
package.json.sample
phpserver/*
pub/*
setup/*
var/*
vendor/*

# App dir

app/etc
app/autoload.php
app/bootstrap.php
